<!DOCTYPE html>
<html>
<body>
    <head>
        <noscript>
            You need Javascript to run this page
        </noscript>
        <link rel="stylesheet" href="app.css">
    </head>
    <main>
        <img id="topBarImg" src="/UCode_Logo.webp">
        <div id="ucodeTitleBG"></div>
        <h1 id="ucodeTitle">UCODE</h1>
        <p id="instructions">This ipad is for UCode member use only.<br>  It won't help your reach any other Manhattan Towers building tenant.</p>
        <div id="topBar" class="colorBar"></div>
        <div id="nameForm">
            <div id="nameFormContainer">
                <label for="studentName">Name</label>
                <input type="text" name="studentName" id="nameField" placeholder="Enter Your Name">
                <div id="buttonContainer">
                    <button id="nameButton">Enter</button>
                </div>
                
            </div>
        </div>
        <button id="ringer">Ring Doorbell</button>
        <div id="msgReceived">
            <img src="/UCode_Logo.webp">
            <h2>Received your ring</h2>
            <p>An instructor is on the way!</p>
        </div>
        <div id="bottomBar" class="colorBar"></div>
        <p id="nonResponsive">ipad not working? Call us 888-888-8681</p>
        <div id="ucodeOpTextBG"></div>
        <h1 id="ucodeOpText">UCODE</h1>
    </main>
    <script src="doorbell.js"></script>
</body>
</html>