<!DOCTYPE html>
<html>
<body>
    <head>
        <noscript>
            You need Javascript to run this page
        </noscript>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="app.css">
         <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>
    <main>
        <img id="topBarImg" src="/UCode_Logo.png">
        {{!-- <div id="ucodeTitleBG"></div>
        <h1 id="ucodeTitle">UCODE</h1> --}}
        <div id="leftImg"></div> 
        <p id="instructions">This iPad is for UCode member use only.</p>
        <div id="topBar" class="colorBar"></div>
        <div id="leftTriangle"></div>
        <div id="nameForm">
            <div id="nameFormContainer">
                <label for="studentName">Name</label>
                <input type="text" name="studentName" id="nameField" placeholder="Enter Your Name">
                <div id="buttonContainer">
                    <button id="nameButton">Enter</button>
                </div>
                
            </div>
        </div>
        <button id="doorbellRinger">Ring Doorbell</button>
        <div id="msgReceived">
            <img id="msgImg" src="/UCode_Logo.png">
            <h2>Received your ring</h2>
            <p>An instructor is on the way!</p>
        </div>
        <div id="rightTriangle"></div>
        <div id="bottomBar" class="colorBar"></div>
        <p id="nonResponsive">iPad not working? Call us <a class="tel" tabIndex="-1" href="tel:888-888-8681">888-888-8681</a></p>
        {{!-- <div id="ucodeOpTextBG"></div>
        <h1 id="ucodeOpText">UCODE</h1> --}}

        <div id="settingsContainer">
            <h2 id="settingsTitle"><i class="fas fa-bars"></i>  Settings</h2>
            <h2 id="settingsBackBtn"><i class="fas fa-angle-double-left"></i>  Back</h2> 
            <h1 id="settingsCurrentLocation"></h1>

            <div id="locationsContainer">
                <button class="locationButton" data-location="MBT">Manhattan Beach</button>
                <button class="locationButton" data-location="LCF">La Canada</button>
                <button class="locationButton" data-location="PAS">Pasedena</button>
                <button class="locationButton" data-location="SM">Santa Monica</button>
            </div>

        </div>
    </main>
    <script src="doorbell.js"></script>
</body>
</html>