<!DOCTYPE html>
<html>
<body>
    <head>
        <noscript>
            You need Javascript to run this page
        </noscript>
        <link rel="stylesheet" href="app.css">
    </head>
    <main>
        <button id="ringer">Ring Doorbell</button>
    </main>
    <script src="doorbell.js"></script>
</body>
</html>