<!DOCTYPE html>
<html>
<body>
    <head>
        <noscript>
            You need Javascript to run this page
        </noscript>
        <link rel="stylesheet" href="upstairs.css">
    </head>
    <main>
        <img id="topBarImg" src="/UCode_Logo.png">
        <div id="root"></div>
        <button id="allowSound">Turn on Ringer</button>
        <audio id="doorbellSoundPlayer" src="/sounds/doorbell.mp3"></audio>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="/upstairsSocket.js"></script>
</body>
</html>